body
{
	background-image:url(1615841.png);
}
#wrapper
{
	width:1100px;
	height:830px;
	background-color:white;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	box-shadow:0 2px 2px #AAAAAA;
}
#header
{
	width:1100px;
	height:150px;
}
#header img
{
	position:relative;
	top:10px;
	left:10px;
}
#header h2
{
	position:absolute;
	top:35px;
	left:280px;
	font-size:60px;
	color: #039;
	text-shadow: #2e2e2e 0 4px 5px;
	
}
#header h4
{
	color:blue;
	position:absolute;
	top:100px;
	left:880px;
}
#header input
{
	position:absolute;
	top:140px;
	left:880px;
}
#menu
{
	margin-left:20px;
	height:40px;
}
ul
{
	margin:0px;
	padding:0px;
}
ul li{
	background-color:#112EF4;
	border:1px solid white;
	width:130px;
	height:40px;
	line-height:30px;
	float:left;
	text-align:center;
	list-style:none;
	border-radius:5px;
	position:relative;
	opacity:.7;	
}	
ul li a{
	color:#FFF;
	text-decoration:none;
	position:relative;
	top:5px;
	display:block;
	text-shadow: 4px 4px 12px rgba(150, 150, 150, 1);
}
ul li a:hover{
	background-color:#FFF;
	color:blue;
}
ul li ul li{
	float:right;
}

th{	
    padding: 2%;
    background-color: #039;
    color:white;
}

td{
    padding: 5px;
}
table {
    width: 1050px;
    font-family: Candara;
    font-size: 20px;
    color: black;
    /*float:left;*/
    position:relative;
    top:10px;
    left:-25px;
    /*margin-left: auto;*/
    /*margin-right:auto;*/
    /*margin-top: 5%;*/
    /*margin-bottom: 5%;*/
    border-spacing: 35px;
    background-color: background-color:#112EF4;
    opacity:.8;	
    text-shadow:1px 1px 1px #888;
}


#footer
{
	text-align:center;
	height:100px;
	width:1100px;
	position:absolute;
	top:820px;
	left:123px;
   
}
#footer img
{
	position:relative;
	top:75px;
}
#footer p
{
	position:relative;
	top:55px;
	color:white;
	font-size:18px;
}